<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>goで作ったチャット</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/img/favicon.png" rel="shortcut icon">
    <link href="/public/css/bootstrap-3.3.6.min.css" rel="stylesheet">
    <link href="/public/css/landing.css" rel="stylesheet">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
  </head>
  <header class="jumbotron">
    <div class="container">
      <div class="row"> 
        <h1>チャットだよ!</h1>
      </div>
    </div>
  </header>
  <body>
    <ul id="messages"></ul>
    <form id="chatbox">
      <textarea></textarea>
      <input type="submit" value="送信">
    </form>
  </body>
</html>