<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>タイトル</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/img/favicon.png" rel="shortcut icon">
    <link href="/public/css/bootstrap-3.3.6.min.css" rel="stylesheet">
    <link href="/public/css/landing.css" rel="stylesheet">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
  </head>
  <header class="jumbotron">
    <div class="container">
      <div class="row"> 
        <h1>It worksss!
          <p></p>
        </h1>
      </div>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div class="span6">{{template "flash.html" .}}</div>
      </div>
    </div>
    <div class="test-text">testttest</div>
  </body>
</html>
