head
  title #{title}
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="/public/img/favicon.png" rel="shortcut icon")

  link(href="/public/css/bootstrap-3.3.6.min.css", rel="stylesheet")
  each css in myStyles
    link(href= css,rel="stylesheet")

  script(src="/public/js/jquery-2.2.4.min.js")
  script(src="/public/js/bootstrap-3.3.6.min.js")
  each script in myScripts
    script(src= script)
  
  
  
