doctype html

html(lang="ja")

  - var title = "goで作ったチャット";
  - var myScripts=[];
  - var myStyles=["/public/css/landing.css"];
  include ../templete/_head.pug

  header.jumbotron
    div.container
      div.row 
        h1 チャットだよん!

  body
    ul#messages
    form#chatbox
      textarea
      input(type="submit" value="送信")
    
  include ../templete/_footer.pug

